* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primaria: #C71585;
    --secundaria: #DB7093;
    --escuro: #0f172a;
    --maisescuro: #0a0f1c;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.1);
}

body {
    background-color: var(--escuro);
    color: var(--claro);
}

.navegacao {
    position: fixed;
    top: 0;
    background: rgba(15, 23, 42, 0.7);
    width: 100%;
    z-index: 100;
    padding: 1rem;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;
}

.menu-link {
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

.menu-link::after {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    transition: width 0.5s ease;
}

.menu-link:hover::after {
    width: 100%;
}

.menu-icon {
    /*Configurando o 'botão' de login*/
    display: none;
    cursor: pointer;
    justify-content: right;
    align-items:right;
}

.menu-icon img {
    /*Configurando o 'botão' de menu mobile*/
    width: 30px;
    display: flex;
    justify-content: right;
    align-items:right;
}

@media(max-width:693px) {

    .navegacao ul {
        position: absolute;
        background-color: var(--escuro);
        top: 90px;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 500px;
        width: 100%;
        transition: 0.3s;
    }

    .navegacao ul.open {
        left: 0;
    }

    .navegacao ul li {
        margin: 5px 0;
    }

    .menu-icon {
        display: block;
        display: flex;
    justify-content: right;
    align-items:right;
    }
}



.cabecalho {
    min-height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.foto-perfil {
    width: 300px;
    height: 300px;
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
    border-radius: 50%;
    border: 4px solid var(--vidro);
    animation: flutuar 5s ease-in-out infinite;
    margin-bottom: -10px;
}

h1 {
    font-size: 3.5rem;
    color: var(--primaria);
    font-weight: bold;
    margin: 20px;
    justify-content: center;
    align-items: center;
    position: center;
}

.subtitulo {
    font-size: 1.5rem;
    color: var(--claro);
    align-items: center;
}

.sobre {
    padding: 4rem 2rem;
}

.sobre-titulo {
    font-size: 2rem;
    color: var(--claro);
    text-align: center;
    margin-bottom: 20px;
}

.sobre-caixa {
    padding:1rem;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur (10px);
    background: rgba(255, 255, 255, 0.05);
}

.sobre-paragrafo {
    text-align: justify;
    font-size: 1rem;
    line-height: 1.5rem;
}

.intro-paragrafo{
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
}
.botao-cv{
    color: var(--claro);
    background: linear-gradient(45deg, var(--primaria), var(--secundaria));
    padding: 15px 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 50%;
    transition: all 0.5 ease;
    text-decoration: none;
    list-style: none;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
    display: flex;
}

.botao-cv:hover{
    transform: translateY(-4px);
    box-shadow: 8 5px 15px rgba(79, 70, 229, 0.3);
}

.botao-cv a{
    text-decoration: none;
    list-style: none;
    color: var(--claro);
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
}

.linguagens {
    padding: 4rem 2rem;
}

.projetos-titulo {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

.projetos-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 100%;
    margin: 0 auto;
}

.projetos-card {
    background: rgba(255, 255, 255, 0.05);
    color: var(--claro);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--vidro);
    overflow: hidden;
    transition: all 0.5s ease;
    cursor: pointer;
}

.projetos-card:hover {
    box-shadow: 0 10px 20px rgba(152, 11, 145, 0.3);
    transform: translateY(-10px) scale(1.03);
}

.projetos-card a{
    text-decoration: none;
    list-style: none;
    color: var(--claro);
}

.projetos-imagem {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.info-projetos {
    margin-bottom: 5px;
}

.projetos-paragrafo {
    color: var(--claro);
    line-height: 1.5rem;
    text-align: justify;
    margin-bottom: 55px;
}

.btn{
    color: var(--claro);
    background: linear-gradient(45deg, var(--primaria), var(--secundaria));
    font-size: 20px;
    margin-top: 20px;
    padding: 10px 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 70%;
    transition: all 0.5 ease;
    text-decoration: none;
    list-style: none;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
    display: flex;

}

.caixa-texto-projeto {
    padding: 1.5rem;
}



.Contato {
    padding: 4rem 2rem;
}

.contato-titulo {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.formulario-contato {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    border-radius: 16px;
    padding: 2rem;
    border: 1px solid var(--vidro);
}

.campo-form {
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    color: var(--claro);
    border: 1px solid var(--vidro);
    outline: none;
}

.campo-form:focus {
    border-color: var(--secundaria);
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.3);
}


.grupo-form {
    margin-bottom: 1.5rem;
}

.botao-form {
    color: var(--claro);
    background: linear-gradient(45deg, var(--primaria), var(--secundaria));
    padding: 15px 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5 ease;
    text-decoration: none;
    list-style: none;
}

.botao-form:hover {
    transform: translateY(-4px);
    box-shadow: 8 5px 15px rgba(79, 70, 229, 0.3);
}

.particula {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background: radial-gradient(circle at 10% 20%, var(--primaria) 0%, transparent 20%),
        radial-gradient(circle at 90% 80%, var(--secundaria) 0%, transparent 20%), var(--maisescuro);
}


/*footer*/

.footer {
    text-align: center;
}

.footer .container i {
    color: white;
    background: linear-gradient(45deg, var(--primaria), var(--secundaria));
    font-size: 19px;
    padding: 40px;
    margin: 50px;
    border-radius: 10px;
}

.footer .container p {
    padding: 40px;
    color: white;
    font-size: 10px;
}



@keyframes flutuar {
    0%, 100% {
     transform: translateY(0);
    }

    50%{
        transform: translateY(-20px);
    }
}
